<!-- [if IE]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif] -->
<button id="toggle-nav" class="hamburger hamburger--squeeze" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<header id="primary-header" class="bg-bgcolor">
  <div class="flex justify-between w-full">
    <div id="title">
      <h1 style="text-red">
        <a href="index.html">Art 140:
          <span>Web Design</span>
        </a>
      </h1>
      <p>Fall 2025 | Harrisburg Area Community College</p>
    </div>
    <div id="meta">
      <div>Instructor:
        <a href="mailto:rdhauck@hacc.edu">Rich Hauck</a>, MPS</div>
    </div>
  </div>
</header>