<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
      <li>
        <a href="{{ "/" | url }}">Syllabus</a>
      </li>
      <li>
        <a href="{{ "/schedule" | url }}">Schedule</a>
      </li>
      <li>
        <a href="{{ "/projects" | url }}">Projects</a>
      </li>
      <li>
        <a href="{{ "/exercises/" | url }}">Exercises</a>
      </li>
      <li>
        <hr>
        Lessons
        <ul>
          <li><a href="{{"/lessons/getting-started/" |url}}">Getting Started</a></li>
          <li><a href="{{"/lessons/intro-html/" |url}}">Introduction to HTML</a></li>
          <li><a href="{{"/lessons/working-with-images/" |url}}">Working with Images</a></li>
          <li><a href="{{"/lessons/css-basics/" |url}}">CSS Basics</a></li>
          <li><a href="{{"/lessons/css-basics/layouts" |url}}">CSS Layouts</a></li>
          <li><a href="{{"/lessons/responsive-navigation" |url}}">Responsive Navigation</a></li>
          <li><a href="{{"/lessons/frameworks/" |url}}">Frameworks</a></li>
        </ul>
      </li>
      <li>
        Resources
        <ul>
          <li><a href="{{"/resources/sitemap/" |url}}">Sitemap</a></li>
          <li><a href="{{"/resources/wireframes/" |url}}">Wireframes</a></li>
          <li><a href="{{"/resources/images-icons/" |url}}">Stock Images and Icons</a></li>
          <li><a href="{{"/resources/web-fonts/" |url}}">Web Fonts</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </nav>