<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
      <li>
        <a href="{{ "/" | url }}">Syllabus</a>
      </li>
      <li>
        <a href="{{ "/schedule" | url }}">Schedule</a>
      </li>
      <li>
        <a href="{{ "/projects" | url }}">Projects</a>
      </li>
      <li>
        <a href="{{ "/assignments/" | url }}">Assignments</a>
      </li>
      <li>
        <hr>
        Lessons
        <ul>
          <li><a href="{{"/lessons/intro/" |url}}">Class Intro</a></li>
          <li><a href="{{"/lessons/css/" |url}}">CSS</a></li>
          <li><a href="{{"/lessons/wireframes/" |url}}">Wireframes</a></li>
          <li><a href="{{"/lessons/sitemap/" |url}}">Sitemap</a></li>
        </ul>
      </li>
    </div>
  </nav>