* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  color: var(--textColor);
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--red);
}
#content h1 {
  margin-bottom: 0.5em;
}
h2 {
  color: var(--bgcolor);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
h3 {
  color: var(--bgcolor);
  font-size: 1.3em;
  font-weight: normal;
}
h1,
h2,
h3 {
  margin-top: 1em;
}
p {
  margin-bottom: 1.5em;
}
b,
strong {
  color: #000;
}
a {
  color: var(--blue);
  transition: var(--transition);
  text-decoration: none;
}
img {
  border: 1px solid var(--borderColor);
  max-width: 100%;
  height: auto;
}
hr {
  border: none;
  height: 1px;
  background-color: var(--borderColor);
  margin: 2em 0;
}
section {
  padding-bottom: var(--basePadding);
  border-top: 1px solid var(--borderColor);
}
aside {
  h2,
  h3 {
    margin-top: 0;
  }
  margin: var(--basePadding) auto;
  padding: var(--basePadding);
  background-color: var(--lightGray);
}
figure {
  margin: 0;
}
table {
  width: 100%;
  border-spacing: 0;
  border: 0.5px solid var(--borderColor);
}
th {
  text-align: left;
  color: #fff;
  background-color: var(--bgcolor);
}
td,
th {
  font-size: 14px;
  border: 0.5px solid var(--borderColor);
  padding: 2px 4px;
  vertical-align: top;
  ul {
    margin-top: 0;
  }
  p,
  li {
    margin: 0;
    padding: 0;
  }
}
