:root {
    --red: #912834;
    --lightRed: #f7a8b0;
    --blue: #3081F2;
    --headertextcolor: #353843;
    --textColor: #707070;
    --bgcolor: #353843;
    --lightGray: #F9F9FA;
    --borderColor: #DCDEE6;
    --basePadding: 1em;
    --headerHeight: 120px;
    --transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  @custom-media --xsmall (max-width: 320px);
  @custom-media --small (max-width: 480px);
  @custom-media --medium (max-width: 767px);

